<?xml version="1.0" encoding="UTF-8"?>
<beans>

    <bean class="org.example.beans.factory.support.event.ContextRefreshedEventListener"/>

    <bean class="org.example.beans.factory.support.event.ContextClosedEventListener"/>

    <bean class="org.example.beans.factory.support.event.CustomListener"/>

</beans>