<?xml version="1.0" encoding="UTF-8"?>
<beans>

    <bean id="userDao" class="org.example.beans.factory.support.bean.UserDao" init-method="initDataMethod"
          destroy-method="destroyDataMethod"/>

    <bean id="userService" class="org.example.beans.factory.support.bean.UserService">
        <property name="uId" value="2"/>
        <property name="company" value="4399"/>
        <property name="location" value="深圳"/>
        <property name="userDao" ref="userDao"/>
    </bean>
    <bean id="beanFactoryPostProcessor" class="org.example.beans.factory.support.common.MyBeanFactoryPostProcessor"/>
    <bean id="beanPostProcessor" class="org.example.beans.factory.support.common.MyBeanPostProcessor"/>
</beans>